/* unvisited link */
a:link {
color: black;
text-decoration: none;
}

/* visited link */
a:visited {
color: black;
text-decoration: none;

}

/* mouse over link */
a:hover {

        -webkit-filter: blur(1px);
        filter: blur(1px);
        color: #000000;


}

/* selected link */
a:active {
color: black;
text-decoration: none;

}


img{

/*border:1px solid #F8F8FF;*/
}

h1 {
    font-size: 60px;
    color: black;
}

h3 {
    font-size: 25px;
    color: #000000;
}
